@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@font-face {
    font-family: "Font";
    src: url("./Fave-ScriptBoldPro.ttf") format("truetype");
}
body{
    background-image: linear-gradient(to right, #ca12c4, #06becf);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 5px 5px #bf14e5;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-image: linear-gradient(to right, black,black,#04a9b2,#05ebf8);
    color: white;
    box-shadow: 0px 5px 20px rgb(67, 67, 67);
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 60px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2.0rem;
}

#search {
    padding: 10px;
    flex: right;
    font-size: 15px;
    border: 2px solid rgb(0, 214, 214);
    border-right: none;
    float: left;
    width: 80%;
    background:black;
    color: white;
    border-radius: 12px;
    box-shadow: 2px 5px 5px #bf14e5;
}

#btn{
    float: left;
    width: 20%;
    padding: 10px;
    background: #0033ff;
    color: white;
    font-size: 15px;
    border: 2px solid rgb(0, 216, 216);
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 2px 5px 5px #bf14e5;
    
}


.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('./bg.jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-image: linear-gradient(black,black ,rgb(0, 127, 127));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 5px 5px #bf14e5;
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    box-shadow: 5px 5px 10px rgb(0, 255, 255);
}

.songItem img{
    height: 44px;
    width: 44px;
    margin: 0 23px;
    clip-path: circle();
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-image: linear-gradient(to right, #ca12c4, #06becf);
    }
}

#video{
    visibility: hidden;
}

#current{
    padding-right: 30px;
}

#tot{
    padding-left: 30px;
}

#masterSongName{
    display: block;
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.songName{
    display: block;
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a{
    text-decoration: none;
    color: white;
}

.containerAbout{
    min-height: 85vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: block;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('./bg.jpg');
    font-size: 20px;
}

.containerAbout ul{
    margin: 20px;
}

#slogan1{
    padding-left: 35vh;
    padding-right: 50vh;
    align-items: flex-end;
    font-size: 50px;
    font-family: "Font", sans-serif; 
}

#slogan2{
    padding-left: 35vh;
    padding-right: 30vh;
    align-items: flex-end;
    font-size: 50px;
    font-family: "Font", sans-serif;
}

